body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.logo {
    text-align: center;
    display: block;
    position: relative;
    top: 100px;
}

input {
  width: 585px;
  height: 44px;
  position: relative;
  top: 115px;
}
